<div class="bg-container position-fixed w-md-50 w-100">
  <div class="bg position-absolute w-100">
    <img class="w-100 h-100" [src]="background" (load)="onLoad()"/>
  </div>
</div>

<div class="container center-in-body">
  <div class="w-md-50 w-100">
    <div>
      <h1 class="mb-5">Me</h1>

      <a href="/assets/pranciskus_ambrazas.pdf" class="btn btn-primary d-none">Download CV</a>
      <h2 class="text-blue mt-5">Work experience</h2>
      <table class="table-wider-th">
        <tbody>
        <tr>
          <th>2018 01 15<br/>now</th>
          <td>
            <p>Front-end Developer</p>
            <p class="caption"><a href="https://www.mailerlite.com">MailerLite</a></p>
            <p class="sub-caption">Vilnius, Lithuania</p>
          </td>
        </tr>
        <tr>
          <th>2017 03 01<br/>2017 06 12</th>
          <td>
            <p>Chief Specialist</p>
            <p class="caption"><a href="https://www.vvtat.lt">State consumer rights protection authority</a></p>
            <p class="sub-caption">Vilnius, Lithuania</p>
          </td>
        </tr>
        <tr>
          <th>2016 11 21<br/>2017 04 13</th>
          <td>
            <p>Mathematics tutor</p>
            <p class="caption"><a href="https://www.pasimokome.lt/">Zingeida</a></p>
            <p class="sub-caption">Vilnius, Lithuania</p>
          </td>
        </tr>
        <tr>
          <th>2016 02 08<br/>2016 08 31</th>
          <td>
            <p>Junior Software Engineer</p>
            <p class="caption"><a href="https://www.bentley.com/">Bentley Systems (internship)</a></p>
            <p class="sub-caption">Vilnius, Lithuania</p>
          </td>
        </tr>
        <tr>
          <th>2015 07 01<br/>2015 09 01</th>
          <td>
            <p>Android Programmer</p>
            <p class="caption">Superum (internship)</p>
            <p class="sub-caption">Vilnius, Lithuania</p>
          </td>
        </tr>
        </tbody>
      </table>
      <h2 class="text-blue mt-5">Education</h2>
      <table class="table-wider-th">
        <tbody>
        <tr>
          <th>2014 09 01<br/>2018 05 31</th>
          <td>
            <p>Software engineering bachelor</p>
            <p class="caption">Vilnius University</p>
            <p class="sub-caption">Vilnius, Lithuania</p>
          </td>
        </tr>
        <tr>
          <th>2002 09 01<br/>2014 05 31</th>
          <td>
            <p>Secondary Education</p>
            <p class="caption">Vilnius Gabijos Gymnasium</p>
            <p class="sub-caption">Vilnius, Lithuania</p>
          </td>
        </tr>
        </tbody>
      </table>
      <h2 class="text-blue mt-5">Facts</h2>
      <table>
        <tbody>
        <tr>
          <th>Fact 1</th>
          <td><p>I'm black belt in traditional karate do</p></td>
        </tr>
        <tr>
          <th>Fact 2</th>
          <td><p>I love discovering new cuisines</p></td>
        </tr>
        <tr>
          <th>Fact 3</th>
          <td><p>I made artificial intelligence (AI) prototype to detect, learn and predict sign language signs</p></td>
        </tr>
        <tr>
          <th>Fun fact</th>
          <td><p>Haven't fully shaved my beard since 13th of June, 2017</p></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
