<div class="bg bg-about d-flex align-items-start">
  <div class="w-md-45 w-100 blured d-flex justify-content-center align-items-center">
    <div class="p-5">
      <h1 class="mb-3">Me</h1>
      <table>
        <tbody>
        <tr>
          <th>Fact 1</th>
          <td><p>Something cool about me that's what I like and enjoy and what ever you want you can do with me</p></td>
        </tr>
        <tr>
          <th>Fact 2</th>
          <td><p>Something cool about me that's what I like and enjoy and what ever you want you can do with me</p></td>
        </tr>
        </tbody>
      </table>

      <a class="btn btn-dark mt-3" routerLink="/portfolio">Check out my works</a>
    </div>
  </div>
</div>