@import "../../styles.scss";
.image {
  height: 150px;
  width: 150px;
}


@media (max-width: 575px) {
  .contact {
    .close-button {
      margin-top: 20px!important;
      z-index: 1100;
    }
  }
}
.contact {
  position: fixed;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(50,50,44,0.9);
  z-index: 1100;
  transition: 1s ease-in-out;

  .close-button {
    color: $light-white;
    font-weight: 800;
    font-size: 0.85rem;
    margin-top: 40px;
    float: right;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      color: $white;
    }

    span {
      float: right;
    }
  }

  & > .container {
    min-height: calc(100vh - 6rem);
  }
}

