<div class="bg-container position-fixed w-50">
  <div class="bg bg-skills position-absolute w-100">
  </div>
</div>

<div class="container center-in-body">
  <div class="w-50">
    <div class="w-90">
      <h1 class="mb-5">Skills</h1>
      <div class="skills">
        <div class="skill p-2 d-flex justify-content-between" style="width: 80%; background-color: rgba(34,46,80,0.8)">
          <span>HTML5</span>
          <span>80%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 70%; background-color: rgba(34,46,80,0.7)">
          <span>CSS3 (Boostrap 3/4)</span>
          <span>70%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 80%; background-color: rgba(34,46,80,0.8)">
          <span>Javascript</span>
          <span>80%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 75%; background-color: rgba(34,46,80,0.75)">
          <span>Typescript (Angular)</span>
          <span>75%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 50%; background-color: rgba(34,46,80,0.5)">
          <span>PHP</span>
          <span>50%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 60%; background-color: rgba(34,46,80,0.6)">
          <span>Photoshop</span>
          <span>60%</span>
        </div>
      </div>
    </div>
  </div>
</div>


