<div class="bg-container position-fixed w-md-50 w-100">
  <div class="bg position-absolute w-100">
    <img class="w-100 h-100" [src]="background" (load)="onLoad()"/>
  </div>
</div>

<div class="container center-in-body">
  <div class="w-md-50 w-100">
    <div class="w-90">
      <h1 class="mb-5">Skills</h1>
      <div class="skills">
        <div class="skill p-2 d-flex justify-content-between" style="width: 90%; background-color: rgba(34,46,80,0.9)">
          <span>HTML5</span>
          <span>90%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 85%; background-color: rgba(34,46,80,0.85)">
          <span>CSS3 (Boostrap 3/4)</span>
          <span>85%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 80%; background-color: rgba(34,46,80,0.8)">
          <span>Javascript</span>
          <span>80%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 75%; background-color: rgba(34,46,80,0.75)">
          <span>Typescript (Angular)</span>
          <span>75%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 65%; background-color: rgba(34,46,80,0.65)">
          <span>PHP</span>
          <span>65%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 60%; background-color: rgba(34,46,80,0.6)">
          <span>Photoshop</span>
          <span>60%</span>
        </div>
      </div>
      <h2 class="text-blue mt-5 mb-4">Languages</h2>
      <div class="skills">
        <div class="skill p-2 d-flex justify-content-between" style="width: 100%; background-color: rgba(34,46,80,1)">
          <span>Lithuanian</span>
          <span>MOTHER TONGUE</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 70%; background-color: rgba(34,46,80,0.7)">
          <span>English</span>
          <span>B2</span>
        </div>
      </div>
    </div>
  </div>
</div>


