<div class="bg bg-skills d-flex align-items-start">
  <div class="w-md-45 w-100 blured d-flex justify-content-center align-items-center">
    <div class="p-5 w-90">
      <h1 class="mb-3">Skills</h1>
      <div class="skills">
        <div class="skill p-2 d-flex justify-content-between" style="width: 80%; background-color: rgba(0,0,0,0.8)">
          <span>HTML5</span>
          <span>80%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 70%; background-color: rgba(0,0,0,0.7)">
          <span>CSS3 (Boostrap 3/4)</span>
          <span>70%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 80%; background-color: rgba(0,0,0,0.8)">
          <span>Javascript</span>
          <span>80%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 75%; background-color: rgba(0,0,0,0.75)">
          <span>Typescript (Angular)</span>
          <span>75%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 50%; background-color: rgba(0,0,0,0.5)">
          <span>PHP</span>
          <span>50%</span>
        </div>
        <div class="skill p-2 d-flex justify-content-between" style="width: 60%; background-color: rgba(0,0,0,0.6)">
          <span>Photoshop</span>
          <span>60%</span>
        </div>
      </div>
      <a class="btn btn-dark mt-3" routerLink="/about">Find out</a>
    </div>
  </div>
</div>