<nav class="navbar navbar-expand-md fixed-top navbar-light">
  <div class="w-50 navbar-bg d-md-block d-none"></div>
  <div class="container">
    <button class="navbar-toggler" type="button" (click)="showNavbar = !showNavbar">
      <div class="icon" [ngClass]="{'open': showNavbar}">
        <span></span>
        <span></span>
      </div>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': showNavbar}">
      <div class="logo">
        <a class="navbar-brand d-none d-md-block" routerLink="/">
          <img src="/assets/images/logo.png" height="15"/>
        </a>
      </div>
      <ul class="navbar-nav ml-auto mr-auto mr-md-none">
        <li class="nav-item" (click)="changeRoute()" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link pr-3 pl-3 mr-lg-3 position-relative" routerLink="/"><span>Home</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active" (click)="changeRoute()">
          <a class="nav-link pr-3 pl-3 mr-lg-3 position-relative" routerLink="/about"><span>About</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active" (click)="changeRoute()">
          <a class="nav-link pr-3 pl-3 mr-lg-3 position-relative" routerLink="/skills"><span>Skills</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active" (click)="changeRoute()">
          <a class="nav-link pr-3 pl-3 position-relative" routerLink="/contact"><span>Contact</span></a>
        </li>
      </ul>
    </div>
  </div>

</nav>

<router-outlet></router-outlet>


<div class="loader" *ngIf="loading" [@enterAnimation]>
  <img src="/assets/loading.svg" width="150"/>
</div>
