/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800');

$black: #222E50;
$white: #ffffff;
$light-black: rgba(0, 0, 0, 0.5);
$light-black-hover: rgba(0, 0, 0, 0.9);
$light-white: rgba(255, 255, 255, 0.7);
$dark-white: rgba(255, 255, 255, 1);
$dark-white-input: rgba(255, 255, 255, 0.5);

$blue-dark: rgba(34,46,80,1);
$blue-dark-hover: rgba(34,46,80, .7);
$blue-dark-input: rgba(34,46,80, .5);
$blue-menu: rgba(34,46,80, .9);
$blue: rgba(74,143,231, 1);
$blue-hover: rgba(74,143,231, 0.5);

$orange: rgb(224,122,95);
$orange-contact: rgba(224,122,95, 0.95);

body {
  font-family: 'Raleway', sans-serif;
  //height: 100vh;
  color: $black;
  margin: 40px 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem!important;
  }

  body {
    margin-top: 100px;
  }

  .w-md-50 {
    width: 50%!important;
  }

  .bg {
    opacity: 1!important;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 0 0, 15% 100%, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 0 0, 15% 100%, 100% 100%, 100% 0);

    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0px;
      width: 100%;
      height: 150px;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, transparent 100%);
    }
  }

  .mr-md-none {
    margin-right: 0!important;
  }
}

::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

h1 {
  font-size: 3rem;
  position: relative;
  color: $orange;

  &.blue {
    color: $blue-dark;
    &:after {
      background-color: $blue-dark;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -10px;
    height: 4px;
    background-color: $orange;
    width: 50px;

  }
}

h5 {
  font-weight: 500;
}


p {
  font-weight: 300;
  margin: 0;

  &.caption {
    font-size: .85rem;
  }
  &.sub-caption {
    font-size: .7rem;
  }
  &.subtitle {
    font-size: 1.2rem;
    font-weight: 500;
  }

  a {
    color: $blue-dark;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;

    &:hover, &:focus {
      color: $orange;
      text-decoration: none;
    }

    &visited {

    }
  }
}

button {
  &:focus {
    outline: none;
  }
}

input, textarea {
  &.form-control {
    font-size: 11pt;
    font-weight: 800;
    border-radius: 0;
    border: none;
    background-color: transparent !important;
    color: $blue-dark;
    border: 2px solid $blue-dark-input;
    margin-bottom: 1rem;
    height: auto;
    resize: none;
    overflow: hidden;

    &.invert {
      color: $white;
      border: 2px solid $dark-white-input;
    }
    &:focus {
      box-shadow: none;
    }

    &:hover, &:focus {
      border: 2px solid $blue-dark;

      &.invert {
        border: 2px solid $white;
      }

    }
  }
}

::placeholder {
  color: $light-white;
  opacity: 1;
}
textarea {
  overflow: scroll!important;
}

svg, .social .icon {
  &:hover {
    g {
      fill: $white;
    }
  }

  g {
    fill: $light-white;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
}

.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn-primary {
  font-weight: 800;
  background: transparent;
  border-radius: 0;
  text-transform: uppercase;
  padding: 0.6rem 1rem;
  font-size: 10pt;
  width: auto;
  margin: 0 auto;
  outline: none!important;

  color: $blue-dark;
  border: 2px solid $blue-dark;

  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;

  &.invert {
    color: $white;
    border: 2px solid $white;
  }

  &:hover, &:focus, &:active {
    background: $blue-dark!important;
    border: 2px solid $blue-dark!important;
    outline: none;
    box-shadow: none!important;
    color: $white;

    &.invert {
      background: $white!important;
      border: 2px solid $white!important;
      color: $orange;
    }
  }
}

.content {
  height: 100%;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .w-md-45 {
    width: 45% !important;
  }
}

.blured {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  background: $light-white;
  min-height: 100%;
}

.bg-container {
  pointer-events: none;
  height: 100vh;
  right: 0;
  top: 0;
}

.bg {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 100%;
  top: 0;
  right: 0;

  img {
    object-fit: cover;
  }
}

.square {
  height: 35px;
  width: 35px;
  position: relative;

  svg {
    height: 40px;
    width: 40px;
  }

}

table {
  border-collapse: separate;
  border-spacing: 0 1.5rem;
  tr {
    td, th {
      vertical-align: top;
    }

    th {
      color: $blue-dark;
      width: 80px;
      font-weight: 700;
    }
  }
  &.table-wider-th {
    th {
      width: 105px;
    }
  }
}

.w-90 {
  width: 90%!important;
}

.center-in-body {
  min-height: calc(100vh - 150px);
  display: flex;
  align-items: center;
}

.text-blue {
  color: $blue!important;
}

.text-gray {
  color: rgba(0, 0, 0, 0.4);
}


.navbar {

  .navbar-bg {
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
    background: $white;

  }

  .container {
    z-index: 100;
  }
}
