/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800');

$black: #222E50;
$white: #ffffff;
$light-black: rgba(0, 0, 0, 0.5);
$light-black-hover: rgba(0, 0, 0, 0.9);
$light-white: rgba(255, 255, 255, 0.7);
$dark-white: rgba(255, 255, 255, 0.95);

$blue: rgba(74,143,231, 1);
$blue-hover: rgba(74,143,231, 0.5);

$red: #E07A5F;

body {
  font-family: 'Raleway', sans-serif;
  //height: 100vh;
  margin-top: 100px;
  color: $black;
}

@media (min-width: 768px) {
  body {
    //margin: 75px;
    //height: calc(100vh - 150px);
    //width: calc(100% - 150px);
  }
}

::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

h1 {
  font-size: 3.5rem;
  position: relative;
  color: $red;

  &:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -10px;
    height: 4px;
    background-color: $red;
    width: 50px;
  }
}

h5 {
  font-weight: 500;
}


p {
  font-weight: 300;
  margin: 0;
}

button {
  &:focus {
    outline: none;
  }
}

input, textarea {
  &.form-control {
    font-size: 10pt;
    font-weight: 300;
    border-radius: 0;
    border: none;
    background-color: transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    height: auto;
    padding: 0.4rem 0.5rem;

    resize: none;
    overflow: hidden;

    &:focus {
      box-shadow: none;
    }

    &:hover, &:focus {
      border-bottom: 1px solid $light-black;
    }
  }
}

svg, .social .icon {
  &:hover {
    g {
      fill: $light-black-hover;
    }
  }

  g {
    fill: $light-black;
  }
}

.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn-dark {
  color: $blue;
  font-weight: 400;
  background: transparent;
  border-radius: 0;
  text-transform: uppercase;
  padding: 0.4rem 0.7rem;
  font-size: 8pt;
  width: auto;
  margin: 0 auto;
  border: 1px solid $blue;

  &:hover, &:focus {
    background: $blue;
    border: 1px solid $blue;
  }
}

.content {
  height: 100%;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .w-md-45 {
    width: 45% !important;
  }
}

.blured {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  background: $light-white;
  min-height: 100%;
}

.bg1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  &.bg-home {
    background-image: url('/assets/images/bg1.jpg');
  }

  &.bg-about {
    background-image: url('/assets/images/bg-about.jpg');
  }

  &.bg-portfolio {
    background-image: url('/assets/images/bg2.jpg');
  }

  &.bg-skills {
    background-image: url('/assets/images/bg2.jpg');
  }

  &.bg-contact {
    background-image: url('/assets/images/bg-contact.jpg');
  }
}

.bg-container {
  height: 100vh;
  right: 0;
  top: 0;
}

.bg {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 100%;
  top: 0;
  right: 0;

  -webkit-clip-path: polygon(0 0, 0 0, 15% 100%, 100% 100%, 100% 0);
  clip-path: polygon(0 0, 0 0, 15% 100%, 100% 100%, 100% 0);


  &.bg-home {
    background-image: url('/assets/images/bg-contact.jpg');
  }

  &.bg-about {
    background-image: url('/assets/images/bg-about.jpg');
  }

  &.bg-portfolio {
    background-image: url('/assets/images/bg2.jpg');
  }

  &.bg-skills {
    background-image: url('/assets/images/bg2.jpg');
  }

  &.bg-contact {
    background-image: url('/assets/images/bg1.jpg');
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    width: 100%;
    height: 150px;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, transparent 100%);
  }
}

.square {
  height: 35px;
  width: 35px;
  border: 1px solid $light-black;
  margin: 15px;
  position: relative;

  &:hover {
    border: 1px solid $light-black-hover;
  }
  svg {
    height: 15px;
    width: 15px;
  }

}

table {
  border-collapse: separate;
  border-spacing: 0 1.5rem;
  tr {
    td, th {
      vertical-align: top;
    }

    th {
      width: 80px;
      font-weight: 700;
    }
  }
}

.w-90 {
  width: 90%!important;
}

.center-in-body {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
}

.text-blue {
  color: $blue!important;
}
