<div class="bg-container position-fixed w-md-50 w-100">
  <div class="bg position-absolute w-100">
    <img class="w-100 h-100" [src]="background" (load)="onLoad()"/>
  </div>
</div>


<div class="container center-in-body">
  <div class="w-md-50 w-100">
    <h1 class="mb-4">Pranciškus Ambrazas</h1>
    <p class="text-gray subtitle">I’m a <span class="text-blue">front-end</span> / <span class="text-blue">full-stack</span> developer. I’m into creating <span class="text-blue">intuitive</span> and <span class="text-blue">attractive</span> digital experiences. And I love CSS and animations!</p>
  </div>
</div>
